<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Stock Data</title>
  </head>
  <body>
    <div style="max-width: 700px; margin: 0 auto">
      <p> <u> Get Stock Market Data</u></p>
      <p><u>API Routes</u></p>
      <p>/api/getData</p>
      <p>
        Request Body -
        <span style="background-color: #000; color: #fff; padding: .5rem 2rem">
          {baseUrl: <span style="color: orange">"someurl.com"</span>}
        </span>
      </p>
      <p>
        Response -
        <span style="background-color: #000; color: #fff; padding: .5rem 2rem">
          {success: <span style="color: orange">boolean</span>, message:
          <span style="color: orange">string</span> ||
          <span style="color: orange">optional</span>, data:
          <span style="color: orange">string</span> }
        </span>
      </p>
    </div>
  </body>
</html>
